@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  font-family: "Lato", sans-serif;
  // font-size: 14px;
}

body {
  background-color: #f7f7f7;
}

.App {
  padding: 0 5rem 0;
  background-color: #fff;
}